body.ggm {
  color: #33444C !important;
  letter-spacing: 1px;
  font-family: "Noto Sans JP", sans-serif !important;
  margin: 0;

  /* 検索フォームのshow/hide */
  @media (max-width: 991px) {
    #search-form-pc { display: none; }
    #search-form-sp { display: block; }
  }
  @media (min-width: 991px) {
    #search-form-pc { display: block; }
    #search-form-sp { display: none; }
  }
  #search-form-pc, #search-form-sp {
    input.search-name {
      border-radius: 5px 0px 0px 5px;
      margin-right: -14px !important;
      border: 1px solid #c1c1c1 !important;
      // height: 30px;
    }
    input.search-name::placeholder {
      color: #ccc;
    }
    button.btn {
      margin-left: -13px !important;
      border-radius: 0px 5px 5px 0px;
      background: #f5f5f5;
      color: #888;
      border: 1px solid #c1c1c1 !important;
    }
  }
  //SP
  #search-form-sp {
    margin-left: -2px;
    margin-top: 10px;
    margin-bottom: 13px;
    input {
      width: 80%;
      display: inline-block;
    }
    button {
      display: inline-block;
    }
  }
  @media (max-width: 576px) {
    #search-form-sp {
      button {
        display: inline-block;
        position: relative;
        top: -2px;
      }
    }
  }




  /* Defoult link a: */
  a {
    text-decoration: none;
    color: #333;
  }
  a:hover {
    color: #888;
    text-decoration-color: transparent;
  }

  /* Divice width */
  @media (max-width: 576px) {
    #notice-banner {
      width: 100%;
      background: #880000;
    }
  }
  @media (min-width: 577px) and (max-width: 991px) {
    #notice-banner {
      width: 100%;
      background:#660000;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    #notice-banner {
      width: 100%;
      background: #440000;
    }
  }
  @media (min-width: 1200px) {
    #notice-banner {
      width: 100%;
      background: #220000;
    }
  }

  /* GGM Shop */
  .ggm-wrapper {
    /* Header bar */
    @media (max-width: 576px) {
      .ggm-header-bar {
        height: 5px;
        background: #696969;
      }
    }
    @media (min-width: 577px) and (max-width: 991px) {
      .ggm-header-bar {
        height: 5px;
        background: #808080;
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      .ggm-header-bar {
        height: 5px;
        background: #c0c0c0;
      }
    }
    @media (min-width: 1200px) {
      .ggm-header-bar {
        height: 5px;
        background: #f5f5f5;
      }
    }
    /*---------*/
    /* nav bar */
    /*---------*/
    nav.navbar {
      #navbarNav {
        ul.navbar-nav {
          li.dropdown {
            // background: #000;
            .show {
              border: none;
              background: #f8f9fa!important;
            }
          }
          li.ggm-cart {
            // background: #000;
            .ggm-in-cart {
              .ggm-cart-navi-icon {
                color: #3a1f11;
                .ggm-cart-navi-badge {
                  display: inline-block;
                  min-width: 17px;
                  position: relative;
                  left: 0;
                  top: 3px;
                }
              }
              .ggm-cart-navi-label {
                // background: #000;
                .ggm-price {

                }
              }
            }
          }
        }
      }


      // /* Search form */
      // form.ggm-search-from {
      //   // background: #000;
      //   input.search-name {
      //     border-radius: 5px 0px 0px 5px;
      //     margin-right: -14px !important;
      //     border: 1px solid #c1c1c1 !important;
      //     // height: 30px;
      //   }
      //   input.search-name::placeholder {
      //     color: #ccc;
      //   }
      //   button.btn {
      //     margin-left: -13px !important;
      //     border-radius: 0px 5px 5px 0px;
      //     background: #f5f5f5;
      //     color: #888;
      //     border: 1px solid #c1c1c1 !important;
      //   }
      // }
      // PC
      // form.ggm-search-from {
      //   // background: #000;
      //   input.search-name {
      //     border-radius: 5px 0px 0px 5px;
      //     margin-right: -14px !important;
      //     border: 1px solid #c1c1c1 !important;
      //     // height: 30px;
      //   }
      //   input.search-name::placeholder {
      //     color: #ccc;
      //   }
      //   button.btn {
      //     margin-left: -13px !important;
      //     border-radius: 0px 5px 5px 0px;
      //     background: #f5f5f5;
      //     color: #888;
      //     border: 1px solid #c1c1c1 !important;
      //   }
      // }
      // button.navbar-toggler {
      //   border: none;
      // }
      // button.navbar-toggler:active {
      //   border: none;
      // }

    } // nav

    /* TOPバナー　Jumbotron */ 
    /* TOPバナー image */
    #top-banner {
      border-radius: 0;
      background: #f4e9e9;
      overflow: hidden;
    }
    .ggm-top-text-block {
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      margin: 30px;
      font-size: 27px;
      // text-shadow: -1px -1px 1px #888;
    }
    @media (max-width: 991px) {
      .top-sp { display: block; }
      .top-pc { display: none; }
      #top-banner {
        position: relative;
        height: 300px;
        #top-banner-img {
          width: 100%;
          position: absolute;
          top: -100px;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
    @media (min-width: 991px) {
      .top-sp { display: none; }
      .top-pc { display: block; }
      #top-banner {
        position: relative;
        height: 600px;
        #top-banner-img {
          width: 100%;
          position: absolute;
          top: -300px;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }

/* eyecatche */
.ec-layoutRole__mainBottom {
  .eyecatch-block {
    // background: #000;
    margin-top: 50px;
    .row {
      .eyecatch-block {
        margin-bottom: 40px;
        a:hover {
          opacity: 0.7;
          text-decoration: none;
        }
        img.eyecatch-img {
          display: block;
          margin: 0 auto;
          width: 180px;
          border-radius: 50%;
          border: 1px solid #c1c1c1;
        }
        .eyecatch-title {
          font-size: 18px;
          margin: 26px;
        }
        .eyecatch-summary {
          font-size: 13px;
          line-height: 28px;
          margin: 0 auto;
          width: 60%;
          a:hover {
            opacity: 0.7;
            text-decoration: none;
          }
        }
      }
      .eyecatch-block-01 {
        img.eyecatch-img {
        }
        .eyecatch-title01 {
          // font-size: 18px;
        }
      }
      .eyecatch-block-02 {
        img.eyecatch-img {
        }
        .eyecatch-title02 {
          // font-size: 18px;
        }
      }
      .eyecatch-block-03 {
        img.eyecatch-img {
        }
        .eyecatch-title03 {
          // font-size: 18px;
        }
      }
    }
  }
}


    /* topic */
    .ggm-topic {
      margin-top: 50px;
      h4.ggm-topic-title {
        font-size: 18px;
        height: 67px;
        line-height: 30px;
      }
      p.ggm-topic-summary {
        font-size: 14px;
        line-height: 26px;
        .ggm-topic-image {
          border-radius: 50%;
          width: 100px;
          height: 100px;
          float: left;
          margin-right: 26px;
        }
      }
      .ggm-topic-more {
        font-size: 14px;
        margin-bottom: 50px;
      }
    }

    /* ggm-news */
    .ggm-news {
      margin-top: 50px;
      h3.ggm-news-h3 {
        font-size: 19px;
        letter-spacing: 2px;
        margin-bottom: 50px;
      }
      h4.ggm-news-title {
        font-size: 17px;
        height: 37px;
        line-height: 30px;
      }
      p.ggm-news-date {
        font-size: 10px;
      }
      p.ggm-news-summary {
        font-size: 14px;
        line-height: 26px;
        .ggm-news-image {
          border-radius: 50%;
          width: 100px;
          height: 100px;
          float: left;
          margin-right: 26px;
        }
      }
      .ggm-news-more {
        font-size: 14px;
      }
    }

    /* footer */
    footer {
      margin-top: 80px;
      // background: #000;
      // margin: 0;
      padding: 70px 0px 0px 0px;
      .ggm-footer-contents {
        font-size: 13px;
        ul {
          margin-bottom: 30px;
          li {
            list-style: none;
            line-height: 30px;
          }
        }
      }
      .copyright {
        margin: auto 0;
        margin-top: 30px;
        width: 100%;
        font-size: 12px;
      }
    }
    /* Top page arrow */
    .ec-blockTopBtn{
      display: none;
      position: fixed;
      width:60px !important;
      height: 60px !important;;
      right: 0;
      bottom: 10px;
      cursor: pointer;
      color: #FFFFFF;
      text-align: center;
      line-height: 40px;
      opacity: 0.8;
      background-color: #9da3a9;
    }
  }//.ggm-wrapper



  // ------------------------
  // Error: 401 403 404 500
  // ------------------------
  #message {
    margin-top: 15%;
    #message-title {
    margin: 0 auto;
    font-size: 24px;
    width: 80%;
    }
  }
  #message-box {
    margin-top: 10%;
    margin: 10%;
  }
  ._message-footer {
    margin: auto 0;
    width: 100%;
    position: fixed;
    bottom: 10%;
    .copy-right {

    }
  }
}


/* page共通 */
.ggm-ec-role {
  margin-bottom: 30px;
}

/* page_product_list */
body#page_product_list {
  .ggm-wrapper {
    .ggm-contents {
      .ggm-block-div {
        /* 検索結果ナビ */
        .ggm-ec-searchnav {
          .ggm-ec-searchnav-topicpath {
            ol.ggm-ec-topicpath-ol {
              li {
                font-size: 13px;
              }
              li.ggm-ec-topicpath-item {
                color: #888;
                a:link, a:visited {
                  color: #888;
                  text-decoration: underline;
                }
              }
              li.ggm-ec-topicpath-divider {
                color: #888;
              }

            }
          }
          .ggm-ec-searchnav-infos {
            .ggm-ec-searchnav-counter {
              // background: #c1c1c1;
              font-size: 13px;
              .ec-font-bold {
                font-weight: normal;
                
              }
            }
          }
        }
        .ec-searchnavRole {

        }
        .ggm-ec-product-block {
          background: #fff;
          ul.ggm-ec-product-grid {
            li.ggm-ec-product-item {
              // background: #000;
              margin-top: 10px;
              a.ggm-ec-product-item-ancher {
                p.ggm-ec-product-item-image {
                  // border: 1px solid #c1c1c1;
                  img {
                    border-radius: 2px;
                  }
                }
              }
              .ggm-product-item-from {

              }
              .ggm-product-btn {
                button {
                  background: #880000;
                  border-color: #880000;
                  width: 80%;
                  margin: 0 auto;
                  border-radius: 3px;
                  font-weight: normal;
                }
              }
            }
          }
        }
        .ggm-ec-modal {
          font-size: 13px;
          font-weight: normal;
          .ggm-ec-modal-wrap {
            // background: #000;
            border: 1px solid #c1c1c1;
            border-radius: 2px;
            .ggm-ec-modal-header {
              margin-bottom: 50px;
            }
            .ggm-ec-modal-box {
              .ggm-ec-role {
                label.ggm-ec-inline-button-cancel {
                  color: #666;
                  font-weight: normal;
                  border-radius: 3px;
                  background: #fff;
                  margin-right:5px;
                }
                a.ggm-ec-inline-button-action:link,
                a.ggm-ec-inline-button-action:visited
                {
                  color: #fff;
                  font-weight: normal;
                  margin-left:5px;
                  background: #880000;
                  border-radius: 3px;
                  border: 1px solid #880000;
                }
                
                label.ggm-ec-modal-close {
                  font-weight: normal;
                  border-radius: 2px;
                  background: #777;
                  border: 1px #777 solid;

                  .ec-icon {
                    img {
                      width: 20px !important;
                      height: 20px !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* page_product_detail (single) */
body#page_product_detail {
  
  .ggm-wrapper {
    .ggm-contents {
      .ggm-block-div {
        margin-top: 100px;
        .ggm-ec-product-role {
          .ggm-ec-grid2 {
            .ggm-ec-grid2-cell {
              
              //画像
              .ggm-ec-slider-item-role {
                // background: #00ffff;
              }
              //商品情報
              .ggm-ec-productRole-profile {
                // background: #c1c1c1;
                .ggm-ec-heading-title {
                  font-size: 18px;
                  letter-spacing: 2px;
                  margin-bottom: 60px;
                }
                ul.ggm-ec-product-role-tags {
                  li.ggm-ec-product-role-tag {

                  }
                }
                .ggm-ec-product-role-price-regular-price {
                  font-size: 13px;
                }
                .ggm-ec-product-role-price {
                  font-size: 23px;
                  color: #b14848;
                }
                .ggm-ec-product-role-code {
                  font-size: 13px;
                  span.ggm-product-code-default {
                    border: 1px solid #c1c1c1;
                    background: #f5f5f5f5;
                    padding: 4px 10px;
                  }
                }
                .ggm-ec-product-role-category {
                  font-size: 13px;
                  ul {
                    margin-top: 10px;
                    display: inline-block;
                  }
                }
                #form1 {
                  .ggm-ec-product-role-actions {
                    
                  }
                  .ggm-ec-product-role-btn {
                    // display: none;
                    .ggm-ec-block-button-action {
                      font-weight: normal;
                      background: #880000;
                      border: 1px solid #880000;
                      border-radius: 3px;
                    }
                  }
                }
                #form2 {
                  .ggm-ec-product-role-btn {
                    .ggm-ec-block-button-cancel {
                      font-weight: normal;
                      background: #fff;
                      border-radius: 3px;
                      border: 1px solid #888;
                      color: #666;
                    }
                  }
                }
                .ggm-ec-product-role-description {
                  line-height: 27px;
                  font-size: 14px;
                }
                // modal
                .ggm-ec-modal {
                  font-size: 13px;
                  font-weight: normal;
                  .ggm-ec-modal-wrap {
                    // background: #000;
                    border: 1px solid #c1c1c1;
                    border-radius: 2px;
                    .ggm-ec-modal-header {
                      margin-bottom: 50px;
                    }
                    .ggm-ec-modal-box {
                      .ggm-ec-role {
                        label.ggm-ec-inline-button-cancel {
                          color: #666;
                          font-weight: normal;
                          border-radius: 3px;
                          background: #fff;
                          margin-right:5px;
                        }
                        a.ggm-ec-inline-button-action:link,
                        a.ggm-ec-inline-button-action:visited
                        {
                          color: #fff;
                          font-weight: normal;
                          margin-left:5px;
                          background: #880000;
                          border-radius: 3px;
                          border: 1px solid #880000;
                        }
                        
                        label.ggm-ec-modal-close {
                          font-weight: normal;
                          border-radius: 2px;
                          background: #777;
                          border: 1px #777 solid;

                          .ec-icon {
                            img {
                              width: 20px !important;
                              height: 20px !important;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .ggm-ec-product-role-description {
            border-top: 1px dotted #c1c1c1;
            padding-top: 20px;
            line-height: 27px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

/* Cart (/cart) */
body#page_cart {
  .ggm-wrapper{
    .ggm-contents {
      .ggm-block-div{
        .ggm-ec-role {
          .ggm-ec-page-header {
            h1 {
              font-size: 18px;
              font-weight: normal;
            }
          }
        }
        .ggm-ec-cart-role {
          .ggm-ec-cart-role-progress {
            ul.ggm-ec-progress {
              li.ggm-ec-progress-item {
                .ggm-ec-progress-number {
                  background: #fff;
                  color: #586069;
                  border: 1px solid #586069;
                  font-weight: normal;
                }
                .ggm-ec-progress-label {
                  font-weight: normal;
                }
              }
              li.is-complete {
                
                .ggm-ec-progress-number {
                  background: #880000;
                  color: #fff;
                  border: 1px solid #880000;
                  font-weight: normal;
                }
                .ggm-ec-progress-label {
                  font-weight: bold;
                  color: #586069;
                }
              }
              .ec-progress, .ec-progress__item:after {
                background: #586069 !important;
                height: 1px;
              }
            }
          }
          .ggm-ec-cart-role-total-text {
            p {
              margin-top: 35px;
              margin-bottom: 50px;
              font-size: 14px;
              strong {
                font-weight: normal;
                font-size: 16px;
              }
            }
          }
          // 商品リスト内
          form.ggm-ec-cart-role {
            .ggm-cart-role-cart {
              .ggm-ec-cart-table {
                ol.ggm-ec-cart-header {
                  margin-bottom: 20px;
                  li.ggm-ec-cartHeader-label{
                    font-weight: normal;
                    font-size: 13px;
                    background: #f8f9fa;
                    border-bottom: 1px dotted #c1c1c1;
                  }

                }
                ul.ggm-ec-cart-row {
                  li.ggm-ec-cart-row-contentcolumn {
                    .ggm-ec-cart-row-img {
                      a {
                        img {
                          border-radius: 3px;
                        }
                      }
                    }
                    .ggm-ec-cart-row-summary {
                      font-weight: normal;
                      font-size: 14px;
                    }
                  }
                  li.ggm-ec-cart-row-amountcolumn {
                    // background: #ff0;
                    .ggm-ec-cart-row-amount{
                      font-weight: normal;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}






/**
 * Blog (wordpress)
 * 
 *
 *
 */
 /* GGM Blog */
 .ggm-blog {
   #blog-block {
     margin-top: 100px;
     div.row {
      #main-block {
        // overflow: hidden;
        word-break: break-all;
        margin-bottom: 100px;
        .blog-item {
          margin-bottom : 60px !important;
          .blog-title {
            font-size: 20px;
            margin-bottom: 10px;
          }
          .blog-summary {
            line-height: 26px;
            font-size: 13px;
            line-height: 28px;
            color: #666;
            .trim-thumbnail {
                width: 60px;
                height: 60px;
                overflow: hidden;
                display: inline-block;
                margin-top: 6px;
                margin-right: 10px;
                border-radius: 50%;
                position: relative;
              img {
                width: 65px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
              }
            }
            .blog-meta {
              ul.post-categories {
                display: inline-block;
                margin: 0;
                margin-left: -38px;
                li {
                  list-style: none;
                  
                  display: inline;
                  a {
                    font-size: 12px;
                    border: 1px solid #888;
                    padding: 3px 8px;
                    background: #888;
                    color: #fff;
                    border-radius: 2px;
                  }
                }
              }
              .tags {
                display: inline-block;
                a {
                  font-size: 12px;
                  border: 1px solid #c1c1c1;
                  padding: 3px 8px;
                  border-radius: 2px;
                  margin-right: 5px;
                }
              }
            }
          }
          .blog-text {
            margin-top: 70px;
            line-height: 26px;
            font-size: 14px;
            line-height: 28px;
            color: #333;
            word-wrap: keep-all;
            // markdown
            h1,h2,h3,h4,h5,h6 {
              color: #333;
              margin-top: 20px;
            }
            h1 {font-size: 22px;}
            h2 {font-size: 20px;}
            h3 {font-size: 18px;}
            h4 {font-size: 16px;}
            h5 {font-size: 15px;}
            h6 {font-size: 14px;}
            pre {
              white-space: pre-wrap;
              font-size: 14px;
              border: 1px dotted #888;
              padding: 10px 20px;
              color: #888;
              border-radius: 3px;
              
              code {
                width: 100%;
                overflow: hidden;
                font-weight: normal !important;
              }
            }
            blockquote {
              border-left: 5px solid #ddd;
              padding-left: 23px;
              margin: 25px 10px;
            }
            p {
              word-wrap: keep-all !important;
              code {
                border: 1px solid #c1c1c1;
                padding: 2px 9px;
                color: #888;
                margin: 0 7px;
                border-radius: 2px;
              }
              a:link, a:visited {
                color: #0090C8;
                text-decoration: none;
              }
              a:hover, a:active {
                color: #0090C8;
                text-decoration: underline;
              }
            }
            .blog-meta {
              ul.post-categories {
                display: inline-block;
                margin: 0;
                margin-left: -38px;
                li {
                  list-style: none;
                  
                  display: inline;
                  a {
                    font-size: 12px;
                    border: 1px solid #888;
                    padding: 3px 8px;
                    background: #888;
                    color: #fff;
                    border-radius: 2px;
                  }
                }
              }
              .tags {
                display: inline-block;
                a {
                  font-size: 12px;
                  border: 1px solid #c1c1c1;
                  padding: 3px 8px;
                  border-radius: 2px;
                  margin-right: 5px;
                }
                a:link, a:visited, a:hover, a:active {
                  color: #666;
                  text-decoration: none;
                }
                a:hover, a:active {
                  color: #888;
                  text-decoration: none;
                }
              }
            }
            #imageblock {
              background: #fff !important;
              margin: 0;
              padding: 0;
              float: left;
              margin-right: 15px;
            }
          }//blog-text
        }

       }
       #side-block {
        word-break: break-all;
        margin-bottom: 100px;
        #sidebar {
          ul {
            li.widget_search {
              h2 {

              }
              form {
                div {
                  .screen-reader-text {
                    display: none;
                  }
                }
              }
            }
            li.widget {
              list-style: none;
              margin-bottom: 20px;
              h2.widgettitle {
                font-size: 16px;
              }
              ul {
                li {
                  list-style: circle;
                  font-size: 13px;
                  margin-left: -28px;
                }
                // li:before {
                //   content: "\f105";
                //   font-family:"FontAwesome","Font Awesome 5 Free","Font Awesome 5 Brands";
                //   font-weight: 400;
                // }
              }
              .tagcloud {
                // background: #000;
                a {
                  border: 1px solid #c1c1c1;
                  font-size: 12px;
                  padding: 3px 8px;
                  border-radius: 2px;
                  display: inline-block;
                }
              }
            }
          }
        }//sidebar
      }//side-block
    }
  }
}

