{
  "name": "scss",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "gmm-styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../css/gmm-styles.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "ggm-styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../css/ggm-styles.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "style.scss",
      "imports": [
        "component/_1.1.heading.scss",
        "component/_1.2.typo.scss",
        "component/_1.3.list.scss",
        "component/_2.1.buttonsize.scss",
        "component/_2.2.closebutton.scss",
        "component/_2.3.otherbutton.scss",
        "component/_3.1.inputText.scss",
        "component/_3.2.inputMisc.scss",
        "component/_3.3.form.scss",
        "component/_4.1.icon.scss",
        "component/_5.1.grid.scss",
        "component/_5.2.layout.scss",
        "component/_6.1.login.scss",
        "component/_7.1.itembanner.scss",
        "component/_7.2.search.scss",
        "component/_7.3.cart.scss",
        "component/_8.1.info.scss",
        "component/_8.2.banner.scss",
        "component/_9.1.mypage.scss",
        "project/_11.1.role.scss",
        "project/_11.2.header.scss",
        "project/_11.3.footer.scss",
        "project/_12.1.slider.scss",
        "project/_12.2.eyecatch.scss",
        "project/_12.3.button.scss",
        "project/_12.4.heading.scss",
        "project/_12.5.topics.scss",
        "project/_12.6.newItem.scss",
        "project/_12.7.category.scss",
        "project/_12.8.news.scss",
        "project/_13.1.searchnav.scss",
        "project/_13.2.shelf.scss",
        "project/_13.3.pager.scss",
        "project/_13.4.cartModal.scss",
        "project/_14.1.product.scss",
        "project/_15.1.cart.scss",
        "project/_15.2.order.scss",
        "project/_16.1.history.scss",
        "project/_16.2.historyDetail.scss",
        "project/_17.1.address.scss",
        "project/_18.1.password.scss",
        "project/_19.1.register.scss",
        "project/_19.2.contact.scss",
        "project/_19.3.customer.scss",
        "project/_20.1.404.scss",
        "project/_21.1.withdraw.scss",
        "project/_22.1.editComplete.scss",
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_btn.scss",
        "mixins/_forms.scss",
        "mixins/_projects.scss",
        "mixins/_clearfix.scss",
        "mixins/_animation.scss"
      ]
    },
    {
      "path": "component/_1.1.heading.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "component/_1.2.typo.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "component/_1.3.list.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "component/_2.1.buttonsize.scss",
      "imports": [
        "mixins/_btn.scss",
        "mixins/_variables.scss"
      ]
    },
    {
      "path": "component/_2.2.closebutton.scss",
      "imports": [
        "mixins/_variables.scss"
      ]
    },
    {
      "path": "component/_2.3.otherbutton.scss",
      "imports": [
        "mixins/_variables.scss",
        "mixins/_media.scss",
        "mixins/_btn.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "component/_3.1.inputText.scss",
      "imports": [
        "mixins/_variables.scss",
        "mixins/_forms.scss",
        "mixins/_media.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "component/_3.2.inputMisc.scss",
      "imports": [
        "mixins/_projects.scss",
        "mixins/_forms.scss",
        "component/_3.1.inputText.scss",
        "mixins/_variables.scss",
        "mixins/_media.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "component/_3.3.form.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "component/_4.1.icon.scss",
      "imports": [
        "mixins/_variables.scss"
      ]
    },
    {
      "path": "component/_5.1.grid.scss",
      "imports": [
        "mixins/_variables.scss",
        "mixins/_clearfix.scss",
        "mixins/_media.scss"
      ]
    },
    {
      "path": "component/_5.2.layout.scss",
      "imports": [
        "mixins/_variables.scss",
        "mixins/_projects.scss",
        "mixins/_clearfix.scss",
        "mixins/_media.scss"
      ]
    },
    {
      "path": "component/_6.1.login.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_projects.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "component/_7.1.itembanner.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_projects.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "component/_7.2.search.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_projects.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "component/_7.3.cart.scss",
      "imports": [
        "mixins/_variables.scss",
        "mixins/_media.scss",
        "mixins/_animation.scss",
        "mixins/_projects.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "component/_8.1.info.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_clearfix.scss",
        "mixins/_variables.scss"
      ]
    },
    {
      "path": "component/_9.1.mypage.scss",
      "imports": [
        "mixins/_projects.scss",
        "mixins/_variables.scss",
        "mixins/_media.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "mixins/_animation.scss",
      "imports": [
        "mixins/_variables.scss"
      ]
    },
    {
      "path": "mixins/_btn.scss",
      "imports": [
        "mixins/_variables.scss"
      ]
    },
    {
      "path": "mixins/_forms.scss",
      "imports": [
        "mixins/_variables.scss"
      ]
    },
    {
      "path": "mixins/_media.scss",
      "imports": [
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "project/_11.1.role.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "project/_11.2.header.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_projects.scss",
        "mixins/_clearfix.scss",
        "mixins/_animation.scss",
        "mixins/_variables.scss"
      ]
    },
    {
      "path": "project/_11.3.footer.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_projects.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "project/_12.1.slider.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "project/_12.2.eyecatch.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "project/_12.3.button.scss",
      "imports": [
        "mixins/_btn.scss",
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "project/_12.5.topics.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_clearfix.scss",
        "mixins/_variables.scss"
      ]
    },
    {
      "path": "project/_12.6.newItem.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_clearfix.scss",
        "mixins/_variables.scss"
      ]
    },
    {
      "path": "project/_12.7.category.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_clearfix.scss",
        "mixins/_variables.scss"
      ]
    },
    {
      "path": "project/_12.8.news.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_clearfix.scss",
        "mixins/_variables.scss"
      ]
    },
    {
      "path": "project/_13.1.searchnav.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "project/_13.2.shelf.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_projects.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "project/_13.4.cartModal.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "project/_14.1.product.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "project/_15.1.cart.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_projects.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "project/_15.2.order.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_clearfix.scss",
        "mixins/_projects.scss",
        "mixins/_variables.scss"
      ]
    },
    {
      "path": "project/_16.1.history.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_projects.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "project/_16.2.historyDetail.scss",
      "imports": [
        "mixins/_projects.scss",
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "project/_18.1.password.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "project/_19.1.register.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "project/_19.2.contact.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "project/_19.3.customer.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "project/_20.1.404.scss",
      "imports": [
        "mixins/_variables.scss",
        "mixins/_media.scss",
        "mixins/_animation.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "project/_21.1.withdraw.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    },
    {
      "path": "project/_22.1.editComplete.scss",
      "imports": [
        "mixins/_media.scss",
        "mixins/_variables.scss",
        "mixins/_clearfix.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}