{#
  This file is part of GGM
  Copyright(c) GGM All Rights Reserved.
#}
<div class="ggm-topic container">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="ggm-topic-title">テキストテキストテキストテキストテキストテキスト</h4>
      <p class="ggm-topic-summary">
      <img src="/html/template/default/assets/img/common/dummy-01.jpg" class="ggm-topic-image">
      <span class="">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</span>
      </p>
      <p class="ggm-topic-more"><a href="#">read more</a></p>
    </div>
    <div class="col-sm-6">
      <h4 class="ggm-topic-title">テキストテキストテキストテキス</h4>
      <p class="ggm-topic-summary">
      <img src="/html/template/default/assets/img/common/dummy-01.jpg" class="ggm-topic-image">
      <span class="">
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
        </span>
      </p>
      <p class="ggm-topic-more"><a href="#">read more</a></p>
    </div>
  </div>
</div>
