body.ggm {
  color: #33444C !important;
  letter-spacing: 1px;
  font-family: "Noto Sans JP", sans-serif !important;
  margin: 0;
  /* Defoult link a: */
  /* Divice width */
  /* GGM Shop */
}
body.ggm a {
  text-decoration: none;
  color: #333;
}
body.ggm a:hover {
  color: #888;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
}
@media (max-width: 576px) {
  body.ggm #notice-banner {
    width: 100%;
    background: #880000;
  }
}
@media (min-width: 577px) and (max-width: 991px) {
  body.ggm #notice-banner {
    width: 100%;
    background: #660000;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body.ggm #notice-banner {
    width: 100%;
    background: #440000;
  }
}
@media (min-width: 1200px) {
  body.ggm #notice-banner {
    width: 100%;
    background: #220000;
  }
}
body.ggm .ggm-wrapper {
  /* Header bar */
  /* footer */
  /* Top page arrow */
}
@media (max-width: 576px) {
  body.ggm .ggm-wrapper .ggm-header-bar {
    height: 5px;
    background: #696969;
  }
}
@media (min-width: 577px) and (max-width: 991px) {
  body.ggm .ggm-wrapper .ggm-header-bar {
    height: 5px;
    background: #808080;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body.ggm .ggm-wrapper .ggm-header-bar {
    height: 5px;
    background: #c0c0c0;
  }
}
@media (min-width: 1200px) {
  body.ggm .ggm-wrapper .ggm-header-bar {
    height: 5px;
    background: #f5f5f5;
  }
}
body.ggm .ggm-wrapper nav {
  /* Search form */
}
body.ggm .ggm-wrapper nav form.ggm-search-from input.search-name {
  border-radius: 5px 0px 0px 5px;
  margin-right: -14px !important;
  border: 1px solid #c1c1c1 !important;
}
body.ggm .ggm-wrapper nav form.ggm-search-from input.search-name::placeholder {
  color: #ccc;
}
body.ggm .ggm-wrapper nav form.ggm-search-from button.btn {
  margin-left: -13px !important;
  border-radius: 0px 5px 5px 0px;
  background: #f5f5f5;
  color: #888;
  border: 1px solid #c1c1c1 !important;
}
@media (max-width: 991px) {
  body.ggm .ggm-wrapper .ggm-search-from {
    display: none;
  }
  body.ggm .ggm-wrapper .ggm-search-from-sp {
    display: block;
  }
}
@media (min-width: 991px) {
  body.ggm .ggm-wrapper .ggm-search-from {
    display: block;
  }
  body.ggm .ggm-wrapper .ggm-search-from-sp {
    display: none;
  }
}
body.ggm .ggm-wrapper #top-banner {
  background: #000;
  position: relative;
  overflow: hidden;
  height: 600px;
}
body.ggm .ggm-wrapper #top-banner #top-banner-img {
  width: 100%;
  position: absolute;
  top: -300px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
body.ggm .ggm-wrapper footer {
  background: #fff;
  padding: 70px 0px 0px 0px;
}
body.ggm .ggm-wrapper footer .ggm-footer-contents {
  font-size: 13px;
}
body.ggm .ggm-wrapper footer .ggm-footer-contents ul {
  margin-bottom: 30px;
}
body.ggm .ggm-wrapper footer .ggm-footer-contents ul li {
  list-style: none;
  line-height: 30px;
}
body.ggm .ggm-wrapper footer .copyright {
  margin: auto 0;
  margin-top: 30px;
  width: 100%;
  font-size: 12px;
}
body.ggm .ggm-wrapper .ec-blockTopBtn {
  display: none;
  position: fixed;
  width: 60px !important;
  height: 60px !important;
  right: 0;
  bottom: 10px;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  line-height: 40px;
  opacity: 0.8;
  background-color: #9da3a9;
}
body.ggm #message {
  margin-top: 15%;
}
body.ggm #message #message-title {
  margin: 0 auto;
  font-size: 24px;
  width: 80%;
}
body.ggm #message-box {
  margin-top: 10%;
  margin: 10%;
}
body.ggm ._message-footer {
  margin: auto 0;
  width: 100%;
  position: fixed;
  bottom: 10%;
}
/*# sourceMappingURL=ggm-styles.css.map */